.hidden{
    /*display:none;*/
}

.unhidden{
    display: block;
}
fieldset{
	margin: auto;
	width: 800px;
}

li{
	background-color: #F3F3F3;
	padding: 12px 8px 12px 8px;
	list-style-type: none;
	border-width: 1px;
	border-color: black;
}

#items{
	margin: auto;
	width: 800px;
	background-color: green;
}
#report{
	margin: auto;
	position: relative;
	border-radius: 25px;
	border: 1px solid darkgrey;
	height: 500px;
	width: 800px;
	background-color: #F3F3F3;
}
#info{
	position: absolute;
	top: 5%;
	left: 2%;
	width: 310px;
	height: 90%
}
#chart{
	position: absolute;
	height: 90%;
	right: 5%;
	top: 5%;
}
dl{
    width: 200px;
    background: #fff;
    border: 1px solid #000;
    padding: 5px 15px;
}

dt, dd{
    display: inline;
}      

#orange{
	height: 10px;
	width: 10px;
	background-color: #FFDAB9;
}
#purple{
	height: 10px;
	width: 10px;
	background-color: #E6E6FA;
}
#blue{
	height: 10px;
	width: 10px;
	background-color: #E0FFFF;
}
